name: "Security vulnerability scan"

on:
  schedule:
    - cron: "20 23 * * *"
  workflow_dispatch:

jobs:
  scan:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19.x
          check-latest: true
      - name: Scan
        run: |
          go list -json -deps ./... | docker run --rm --interactive sonatypecommunity/nancy:latest sleuth
          go install golang.org/x/vuln/cmd/govulncheck@latest
          govulncheck ./...
